body {
	background-image: url("../congruent_pentagon.png");
}

#playButton {
	font-size: 16px;
	height: 50px;
	width: 240px;
}

div {
	margin: 0 auto;
	font-size: 10pt;
	line-height: 18pt;
	color: #034F46;
	max-width: 98%;
	font-family: Arial, sans-serif;
	width: 320px;
}

button {
	font-size: 60px;
	color: #034F46;
	height: 75px;
	margin: 4px 2px;
	vertical-align: top;
	line-height: 90%;
	width: 75px;
	font-family: 'Permanent Marker', cursive;
}

#replayButton {
	font-size: 18px;
	height: 50px;
	width: 240px;
	color: #034F46;
}

h1 {
	text-align: left;
	font-family: 'Permanent Marker', cursive;
}

select {
	font-size: 16px;
	color: #034F46;
}

@media only screen and (max-device-width : 480px) {
	div {
		margin: 0 auto;
		font-size: 30pt;
		line-height: 18pt;
		color: black;
		max-width: 98%;
		font-family: Arial, sans-serif;
		width: 700px;
	}
	button {
		font-size: 120px;
		height: 200px;
		margin: 10px 5px;
		vertical-align: top;
		width: 200px;
		color: black;
	}
	#replayButton {
		font-size: 50px;
		height: 100px;
		width: 635px;
		color: black;
	}
	select {
		font-size: 40px;
		color: black;
	}
	h1 {
		text-align: left;
	}
}